/*Margin - top right bottom left*/

.container{
	margin-top:-60px;
	background-color: white;
}

p,ul{
font-size: 16px;
}

p{
text-align: justify;
}

#punchline{
  text-align:right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.redborders{
	border: red solid 1px;
}


#logo img{
	width:90%;
}


#download{
  text-align: center;
}

#header{
  margin-top: 20px;
}

#nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:square;
  margin:0;
  padding:0;
  text-align:right;
  font-size: 20px;
  font-weight: 300;
}

#nav li{
  display:inline;
}


#nav a{
  display:inline-block;
  padding:10px;
  color: black;
}

#nav .selected a{
  font-weight: 900;
}

#demovideo{
	padding: 3px;
	border:1px solid #ccc;
}

#flexslider{
	margin-left: 10px;
	padding: 3px;
	border:1px solid #ccc;
}

#download, #download1, #interested, #awards{
  font-size: 22px;
}

.bigmiddle{
	font-size: 22px;
}

#team img{
  width: 100%;
}

#boom img{
  width:100%;
}

#footer{
	margin-top: 20px;
	background-color: black;
	color: white;
}

#footer p{
	margin: 10px;
	text-align:center;
}


